<div class="navbar navbar-expand-sm navbar-light navbar-home" id= "navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
  <h2>douchbags</h2>
  <% end %>

  <div class="d-flex align-items-center d-sm-none">
     <div class="cart-item">
      <% if total_cart_items %>
      <%= link_to cart_path(@cart), class: "nav-link" do %>
      <span class="icon is-small">
        <i class="fas fa-shopping-bag"></i>
      </span>
      <span><%= cart_count_over_one %></span>
      <% end %>
      <% end %>
    </div>
    <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item ">
        <%= link_to "Shop", products_path, class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to "Stories", "#", class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to "About", "#", class: "nav-link" %>
      </li>
      <li class="nav-item  d-sm-none">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>


      <% else %>

      <li class="nav-item ">
        <%= link_to "Shop", products_path, class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to "Stories", "#", class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to "About", "#", class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="d-none d-sm-block guillo">
    <div class="cart-item">
      <% if total_cart_items %>
      <%= link_to cart_path(@cart), class: "nav-link" do %>
      <span class="icon is-small">
        <i class="fas fa-shopping-bag"></i>
      </span>
      <span><%= cart_count_over_one %></span>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
