<%= render "shared/navbar-shop" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @category.photo %>);">
  <div class="d-flex align-item-center justify-content-center">
    <h1><%= @category.name %></h1>
  </div>
</div>
<div class="categories-filter">
  <div class="category-navbar d-flex justify-content-between align-items-center">
    <p><%= @category.products.count %> results</p>
    <button> + Open Filter</button>
  </div>
  <% @categories.each do |category| %>
  <%= link_to category_path(category)  do%>
  <%= category.name %>
  <% end %>
  <% end %>
</div>
<div class="product-cards">
  <% @category.products.each do |product| %>
  <%= render 'shared/cards', product: product %>
  <% end %>
</div>
<%= render 'components/boxes' %>
<div class="d-none">
  <%= render 'products/form', category: @category, product: @product %>
</div>

