<div class="line-wrapper">
  <div class="line-first">
    <div class="line-image">
      <img src="<%= line_item.product.image %>" alt="product photo">
    </div>
    <div class="line-description">
      <h2><%= line_item.product.name %></h2>
      <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
      <div class="line-quantity">
        <p>Quantity:</p>
        <%= line_item.quantity %>
      </div>
    </div>
  </div>
  <div class="line-price">
    <%= number_to_currency(line_item.total_price) %>
  </div>
</div>
